.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.carousel-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.carousel {
  display: flex;
  flex-direction: row;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.carousel-card {
  margin-bottom: 50px;
  margin-right: 5px;
  min-width: 180px;
}

.carousel-card img {
  width: 180px;
}

.carousel-card p {
  padding-left: 5px;
}
