html, body {
  background-color: aliceblue;
  font-family: DM Sans , sans-serif;
  margin: 0 0 20px;
}

.login-bar {
  background-color: blue;
  color: pink;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  height: 550px;
  text-align: start;
  width: 360px;
}

.login-bar h1 {
  animation: loginBarContent 5s;
  display: flex;
  margin-top: 100px;
  padding: 0 50px 0 10px;
}

@keyframes loginBarContent {

  from { opacity: 0;}

  to { opacity: 100;}
}

.login-bar hr {
  margin-bottom: 0;
  margin-top: 80px;
  width: 25px;
}

.login-bar img {
  animation: loginArrow 0.9s;
  animation-iteration-count: infinite;
  filter: invert(100%)
    sepia(90%)
    saturate(606%)
    hue-rotate(175deg)
    brightness(100%)
    contrast(103%);
  margin-left: calc(50% - 15px);
  scale: 90%;
}

@keyframes loginArrow {

  from { margin-top: 73px;}

  25% { margin-top: 76px;}

  to { margin-top: 73px;}
}

.login-form {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: center;
  padding-top: 10px;
}

.login-form input {
  width: 60%;
}

/* h1, profile-button, search button */
.header {
  align-items: center;
  background-color: blue;
  display: flex;
  height: 15px;
  justify-content: space-between;
  padding: 15px 0;
  width: 360px;
}

/* h1 */
.header h1 {
  color: pink;
  font-size: 20px;
  padding-left: 10px;
}

.profile-button {
  display: flex;
  filter: invert(80%)
    sepia(7%)
    saturate(1270%)
    hue-rotate(302deg)
    brightness(99%)
    contrast(104%);
  padding-right: 12px;
  padding-top: 5px;
}

.profile-button img {
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

.search-button {
  align-self: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 20px;
}

.search-button button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin-left: 20px;
  outline: inherit;
  padding-right: 5px;
}

.search-button img {
  filter: invert(14%)
    sepia(67%)
    saturate(4057%)
    hue-rotate(238deg)
    brightness(67%)
    contrast(139%);
  width: 25px;
}

.page-title {
  align-content: center;
  background-color: lavenderblush;
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.page-title h1 {
  color: blue;
  padding-left: 10px;
}

.serach-button hr {
  border: none;
  height: 1px;
}

.search-bar {
  align-items: center;
  background-color: pink;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 80px;
  justify-content: space-around;
  margin: 0 10px 3px;
  padding: 10px;
  width: 320px;
}

.search-input {
  background-color: white;
  border: 0;
  border-radius: 10px;
  display: flex;
  height: 30px;
  margin: 5px;
  outline-color: dodgerblue;
  padding: 0 10px;
  width: 285px;
}

.search-bar-options-and-btn {
  color: navy;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  justify-content: space-around;
  padding: 5px 10px;
}

.search-bar-options-and-btn button {
  background-color: lavenderblush;
  border: 1px solid aliceblue;
  border-radius: 15px;
  color: navy;
  font-weight: 600;
  margin-left: 5px;
}

.in-progress-finish-btn {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 360px;
}

.in-progress-finish-btn button {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.filters button {
  background-color: aliceblue;
  border: 1px solid navy;
  border-radius: 15px;
  color: navy;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-size: 15px;
  margin: 0 6px;
  padding: 4px 10px;
  transition: 750ms;
}

.footer-div button {
  background: none;
  border: none;
  bottom: 0;
  cursor: pointer;
  filter: invert(80%)
    sepia(7%)
    saturate(1270%)
    hue-rotate(302deg)
    brightness(99%)
    contrast(104%);
  font: inherit;
  margin: 0 20%;
  outline: inherit;
  padding: 0;
}

.favorite-and-share-btn button {
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(14%)
    sepia(43%)
    saturate(5599%)
    hue-rotate(236deg)
    brightness(77%)
    contrast(137%);
  font: inherit;
  margin-right: 20px;
  padding: 0;
  scale: 80%;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.profile-buttons button {
  background: none;
  border: 2px solid pink;
  border-radius: 25px;
  color: navy;
  cursor: pointer;
  font: inherit;
  margin: 5px;
  padding: 5px 15px;
}

.start-recipe-btn {
  bottom: 0;
  margin: auto;
  padding: 10px;
  position: fixed;
  right: 0;
  width: 20%;
}

.details-start-recipe button {
  border: none;
  border-top-left-radius: 15px;
  bottom: 0;
  color: navy;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  margin-bottom: 50px;
  padding: 10px 5px 10px 10px;
  position: fixed;
}

.done-recipes-filters button {
  background: none;
  border: 1px solid navy;
  border-radius: 15px;
  margin: 0 5px;
  padding: 5px 10px;
}

.done-recipes-meal-card button, .done-recipes-drink-card button {
  align-self: center;
  background-color: pink;
  border: none;
  border-top-right-radius: 15px;
  height: 80px;
  width: 50px;
}

.profile-buttons button:last-child {
  background-color: lavenderblush;
}


.in-progress-finish-btn button:enabled {
  cursor: pointer;
}

.not-finished-recipe-img {
  filter: invert(54%)
    sepia(0%)
    saturate(1%)
    hue-rotate(71deg)
    brightness(94%)
    contrast(85%);
}

.not-finished-recipe-text {
  color: grey;
}

.favorite-and-share-btn p {
  font-size: 12px;
  margin-right: 22px;
  margin-top: 60px;
  opacity: 0;
  position: absolute;
  top: 0;
}

.details-category-container p {
  background-color: aliceblue;
  border-radius: 15px;
  color: navy;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
  padding: 5px 10px;
}

.details-start-recipe p {
  position: absolute;
}

.done-recipes-card-info p {
  color: navy;
  font-size: 14px;
  margin: 5px 0;
}

.in-progress-finish-btn button p {
  margin: 5px;
}

.finish-recipe-img {
  animation: checkFinish 5s;
  filter: invert(80%)
    sepia(24%)
    saturate(692%)
    hue-rotate(305deg)
    brightness(101%)
    contrast(108%);
}

@keyframes checkFinish {

  from { opacity: 0;}

  to { opacity: 1;}
}

.finish-recipe-text {
  color: pink;
  transition: 4s;
}

.filters {
  display: flex;
  overflow: 360px;
  overflow-x: auto;
  padding: 10px 0 5px;
  white-space: nowrap;
  width: 360px;
}

footer {
  bottom: 0;
  display: flex;
  padding-bottom: 5px;
  position: fixed;
  width: 360px;
}

.footer-div {
  background-color: blue;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: space-around;
  padding: 10px 0 0;
  position: fixed;
  width: 360px;

}

.favorite-and-share-btn {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  width: 80px;
}

.favorite-and-share-btn hr {
  border-left: none;
  border-right: 1px navy solid;
  height: 15px;
  margin-right: 25px;
}

.favorited {
  animation: clink 0.2s;
  animation-iteration-count: 3;
  transition: ease-in-out;
}

.copied {
  animation: linkCopied 3s;
  color: navy;
}

@keyframes linkCopied {

  from { opacity: 0;}

  50% { opacity: 1;}

  to { opacity: 0;}
}

.recipes {
  display: block;
  margin: 10px 0 0 10px;
  width: 360px;
}

.recipe-card {
  align-content: center;
  align-self: center;
  background-color: white;
  border: solid navy 0.5px;
  border-radius: 5%;
  display: inline-flex;
  justify-content: center;
  margin: 0 5px 5px;
  overflow: hidden;
  width: 160px;
}

.recipe-card h3 {
  font-size: 15px;
  margin-top: 5px;
  padding: 0 15px;
}

.recipe-card img {
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  padding: 6px;
}

.profile-icon-and-email {
  color: navy;
  display: flex;
}

.profile-icon-and-email img {
  filter: invert(15%)
    sepia(34%)
    saturate(6597%)
    hue-rotate(235deg)
    brightness(75%)
    contrast(139%);
  margin-right: 2px;
}

.details-start-recipe {
  display: flex;
  flex-direction: row-reverse;
}

.done-recipes-img-and-title img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 5px 0;
}

.details-start-recipe button img {
  filter: invert(15%)
    sepia(34%)
    saturate(6597%)
    hue-rotate(235deg)
    brightness(75%)
    contrast(139%);
  margin: 1px 0 0 1px;
}

.filters button:last-child {
  margin-right: 10px;
}

.filters .active {
  background-color: pink;
  border: 1px solid pink;
  cursor: default;
  font-weight: 600;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.search-page-bottom {
  padding-bottom: 15px;
}

.details-type-header {
  color: blue;
  font-size: 26px;
  margin-top: 51px;
  padding-left: 10px;
  position: absolute;
  top: 0;
}

.details-title-and-btns {
  background-color: pink;
  display: flex;
  justify-content: flex-start;
  width: 360px;
}

.details-recipe-name {
  color: navy;
  display: flex;
  padding-left: 10px;
  text-align: start;
  width: 240px;
}

.details-img-and-category {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 360px;
}

.details-category-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  position: absolute;
  scale: 110%;
}

.profile-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.details-ingredients {
  background-color: lavenderblush;
  color: navy;
  padding: 5px 20px 30px;
  text-align: start;
  width: 320px;
}

.details-ingredients h3 {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.details-ingredients h3 img {
  filter: invert(15%)
    sepia(34%) saturate(6597%)
    hue-rotate(235deg)
    brightness(75%)
    contrast(139%);
  margin-left: 5px;
  padding-bottom: 5px;
}

.details-ingredient-list {
  border: 1px solid pink;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 550;
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='currentColor' class='bi bi-arrow-return-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5'/%3E%3C/svg%3E");
  padding: 10px 20px;
}

.details-ingredient-list div {
  display: flex;
  padding: 5px 20px;
}

.details-instructions {
  background-color: pink;
  color: navy;
  margin-bottom: 0;
  padding: 20px 20px 30px;
  width: 320px;
}

.details-instructions h3 {
  align-items: center;
  background-color: pink;
  display: flex;
  margin: 0;
}

.meal-instructions-icon {
  align-self: center;
  display: flex;
  filter: invert(15%)
    sepia(34%)
    saturate(6597%)
    hue-rotate(235deg)
    brightness(75%)
    contrast(139%);
  margin-left: 7px;
  padding-bottom: 11px;
}

.drink-instructions-icon {
  align-self: center;
  display: flex;
  filter: invert(15%)
    sepia(34%)
    saturate(6597%)
    hue-rotate(235deg)
    brightness(75%)
    contrast(139%);
  margin-left: 1px;
  padding-bottom: 5px;
}

.details-instructions section {
  font-size: 15px;
  padding: 0 15px;
  text-align: start;
}

.details-instructions hr {
  border: 1px solid navy;
  margin-top: 30px;
  width: 15px;
}

.details-video {
  background-color: blue;
  padding: 30px 0 65px;
  width: 360px;
}

.details-video h3 {
  color: pink;
  margin-top: 0;
}

.details-video iframe {
  border: none;
}

.meal-page-body {
  text-align: center;
}

.done-recipes-body {
  background-color: aliceblue;
  width: 360px;
}

.done-recipes-filters {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.done-recipes-filters .active {
  background-color: pink;
  border: 1px solid pink;
  cursor: default;
  font-weight: 600;
}

.done-recipes-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.done-recipes-img-and-title {
  background-color: white;
  border-radius: 15px;
}


.done-recipes-img-and-title h3 {
  display: flex;
  font-size: 16px;
  margin: 5px 0;
  padding-left: 8px;
  width: 90px;
}

.done-recipes-meal-card, .done-recipes-drink-card {
  background-color: whitesmoke;
  border: 1px solid navy;
  border-radius: 15px;
  display: flex;
  margin: 5px 15px;
  padding: 0;
  padding-bottom: 5px;
}

.done-recipes-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.done-recipes-card-info p:first-child {
  font-weight: 600;
}

.done-recipes-tags {
  border: 1px solid pink;
  border-radius: 15px;
  color: blue;
  display: flex;
  font-size: 13px;
  justify-content: center;
  margin: 5px 50px 0 0;
}

.done-recipes-share-div {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.done-recipes-share-div span {
  display: flex;
  justify-self: flex-end;
}

a {
  color: navy;
  text-decoration: none;
}


/*
.footer-div {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  background-color: blue;
  width: 360px;
};
*/

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(3deg);
  }


  50% {
    transform: rotate(-3deg);
  }

  to {
    transform: rotate(3deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

